.container {
  text-align: center
}

.form-container {
  width: 400px;
  margin: 0px auto;
  margin-top: 200px;
}

.form-field {
  display: block
}

.warning {
  background-color: #f8d7da;
  color: #721c24;
  border: 2px #721c24;
}

.error-message{
  margin-bottom: 30px;
}
