<div class="container">
  <div *ngIf="isLoading">
    <mat-grid-list cols="1" rowHeight="2:1">
      <mat-grid-tile>
        <mat-spinner></mat-spinner>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="form-container" *ngIf="!isLoading">
    <div *ngIf="error" class="error-message">
      <mat-card class="warning">{{error}}</mat-card>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> E-mail
        </mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
          <span *ngIf="registerForm.controls.email.errors.required">This field is mandatory.</span>
          <span *ngIf="registerForm.controls.email.errors.pattern">This field is invalid.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Password
        </mat-label>
        <input matInput formControlName="password" type="password">
        <mat-error *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid">
          <span *ngIf="registerForm.controls.password.errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Repeat Password
        </mat-label>
        <input matInput formControlName="passwordConfirm" type="password">
        <mat-error
          *ngIf="registerForm.controls.passwordConfirm.touched && registerForm.controls.passwordConfirm.invalid">
          <span *ngIf="registerForm.controls.passwordConfirm.errors.required">This field is mandatory.</span>
          <span *ngIf="registerForm.controls.passwordConfirm.errors.mustMatch">Passwords must match</span>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
  </div>
</div>
