<mat-toolbar>
  <span>Spectre</span>
  <span class="spacer"></span>
  <button (click)="onLogout()" mat-icon-button class="login" aria-label="Logout" *ngIf="isUserAuthenticated()" >
    <mat-icon>login</mat-icon>
  </button>
</mat-toolbar>
